# === Terraform ===
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
*.backup
terraform_debug.log

# === Ansible ===
env.yml
vault.yml
*.retry
.vault_pass

# === OS & IDE ===
.DS_Store
.vscode/
.idea/
*.log

float-oracle/
AGENTS.md
*.tex
